.leaflet-map {
height: 200px; 
display: block; 
width:100%;
}
.list-view .site-content .format-link.category-bookmarks .entry-title
{
display: block;
}

/* not really good to apply category filters, since user can call categories whatever she likes */
.list-view .site-content .format-status .entry-title,
.list-view .site-content .format-image.category-twitter .entry-title,
.list-view .site-content .format-image.category-facebook .entry-title
{
	display: none;
}
.list-view .site-content .format-video .post-thumbnail,
.list-view .site-content .format-image .post-thumbnail,
article.format-video div.entry-media,
article.format-image div.entry-media,
article.format-video .wp-post-image
{
	display: none;
}

.list-view .site-content .format-image.category-facebook .post-thumbnail 
{
/*	display: block; */
}

.list-view .site-content .format-image.category-twitter .post-thumbnail
{
/*	display: block; */
}

@media screen and (max-width: 400px) {

.leaflet-map {
height: 120px; 
}
.list-view .site-content .format-status .entry-title, 
.list-view .site-content .format-aside .entry-title, 
.list-view .site-content .format-link .entry-title, 
.list-view .site-content .format-quote .entry-title 
{
display: block;
}
.list-view .site-content .format-video .post-thumbnail,
.list-view .site-content .format-image .post-thumbnail 
{
display: block;
}
}

.entry-content div.fblink,
.entry-content blockquote.fblink,
/*.entry-content div.glink,*/
.entry-content blockquote.glink
{
	background-color: #F2F2F2;
	margin-top: .5em;
	padding: .5em;
	display: block;
	/*	border-top: 1px #C4C4C4 solid; */
	/*	border-bottom: 1px #C4C4C4 solid; */
	-webkit-box-shadow: 0 8px 10px -6px #C4C4C4;
	   -moz-box-shadow: 0 8px 10px -6px #C4C4C4;
	        box-shadow: 0 8px 10px -6px #C4C4C4;

	-webkit-box-shadow: 7px 7px 10px -6px #C4C4C4;
	   -moz-box-shadow: 7px 7px 10px -6px #C4C4C4;
	        box-shadow: 7px 7px 10px -6px #C4C4C4;
}

.format-status .entry-content div.fblink div.fbimage img,
.format-aside .entry-content div.fblink div.fbimage img,
.format-link .entry-content div.fblink div.fbimage img,
.format-quote .entry-content div.fblink div.fbimage img,
.format-chat .entry-content div.fblink div.fbimage img,
.format-status .entry-content blockquote.fblink div.fbimage img,
.format-aside .entry-content blockquote.fblink div.fbimage img,
.format-link .entry-content blockquote.fblink div.fbimage,
.format-quote .entry-content blockquote.fblink div.fbimage img,
.format-chat .entry-content blockquote.fblink div.fbimage img,
/* .entry-content blockquote.twitter-tweet div.twimage img, */
.format-link .entry-content div.glink div.gimage img,
.format-link .entry-content blockquote.glink div.gimage img,
.entry-content div.grimage img
{
	display: none;
}

.entry-content div.fbimage 
{
/*
border-right: 1px solid #d3dae8;
float: left;
height: 116px;
line-height: 110px;
margin-right: 11px;
min-width: 72px;
position: relative;
text-align: center;
overflow: hidden;
*/
}

div.entry-content p.syndicationlink,
div.entry-content p.fbviewpost-link, 
div.entry-content p.twviewpost-link, 
div.entry-content p.gviewpost-link,
div.entry-content p.gviewpost-google,
div.entry-content p.fbviewpost-facebook,
div.entry-content p.twviewpost-twitter,
div.entry-content p.viewpost-twitter,
div.entry-content p.viewpost-google,
div.entry-content p.viewpost-facebook,
div.entry-content p.viewpost-flickr,
div.entry-content p.viewpost-instagram,
div.entry-content p.viewpost-bookmarks 
{
float: right;
clear: none;
padding-top: 4px;
padding-left: 4px;
font-size: 11px;
}
div.entry-content p.fbviewpost-facebook a
{
font-size: 11px;
}

div.entry-content div.fblink-title
{
}

div.entry-content p.fblink-caption 
{
font-size: 12px;
margin: 0;
}
div.entry-content div.fblink-title.props
{
font-size: 12px;
margin: 0;
}